---
import Layout from "../layouts/layout.astro";
import Link from "../components/link.astro";
import Loading from "../components/loading.astro";
import StandingsTable from "../components/standings-table.astro";
import StandingsTableSSR from "../components/standings-table-ssr.astro";
import { SEASONS, getTeamsInSeason } from "../data";
import * as Utils from "../utils";

const latestSeason = SEASONS.toSorted((a, b) =>
  a.endDate > b.endDate ? -1 : a.endDate < b.endDate ? 1 : 0,
)[0];

if (!latestSeason) {
  // TODO Build error
  throw new Error("Insufficient season data");
}

const isSeasonReady = getTeamsInSeason(latestSeason.id).length > 0;
let staticGames;

if (isSeasonReady) {
  try {
    // file extension needed on dynamic import per https://github.com/rollup/plugins/tree/master/packages/dynamic-import-vars#limitations
    const { default: games } = await import(
      `../data/${latestSeason.id}/games.json`
    );

    staticGames = games;
  } catch {
    console.log(
      `[home page] Static games data unavailable for season ${latestSeason.id}; will try to render data via server island`,
    );
  }
}
---

<Layout>
  <main class="p-8 px-0 pb-24 md:px-8">
    <h1 class="text-center font-title text-3xl text-lime-400 md:text-7xl">
      NBA Surprise Teams Tracker
    </h1>
    <nav
      class="mb-10 mt-8 flex flex-row justify-center gap-16 md:mb-20 md:mt-16"
    >
      <Link href="/info">What is this?</Link>
      <Link href="/archive">Archive</Link>
    </nav>
    {
      isSeasonReady &&
        (staticGames ? (
          <StandingsTable seasonId={latestSeason.id} games={staticGames} />
        ) : (
          <StandingsTableSSR server:defer seasonId={latestSeason.id}>
            <Loading slot="fallback" />
          </StandingsTableSSR>
        ))
    }
    {
      !isSeasonReady && (
        <div>
          <h2 class="text-center font-title text-2xl text-lime-400 md:text-4xl">
            Countdown to the {Utils.abbreviateSeasonRange(latestSeason)} season
          </h2>
          <p>
            Next season kicks off on{" "}
            {new Date(latestSeason.startDate).toLocaleDateString()}. Pre-season
            over/unders are typically posted mid-September. Till then, check out
            how <a href="/archive">past years</a> shook out.
          </p>
        </div>
      )
    }
  </main>
</Layout>
