---
import SubpageLayout from "../../layouts/subpage.astro";
import Loading from "../../components/loading.astro";
import Logo from "../../components/logo.astro";
import TeamStats from "../../components/team-stats.astro";
import {
  TEAM_SEASONS,
  getTeamById,
  getTeamSeason,
  getSeasonById,
} from "../../data";
import type { TeamCode } from "../../data";
import * as Utils from "../../utils";

export function getStaticPaths() {
  return TEAM_SEASONS.map((ts) => ({
    params: { season: ts.season, team: ts.team },
  }));
}

// non-null assertion here as we're taking for granted that I didn't fuck up our constants and
// that TEAM_SEASONS has "referential integrity" i.e. don't throw here, as constant data queries
// should be guaranteed to return results, given paths from which query params are derived are
// derived from those same constants
/* eslint-disable @typescript-eslint/no-non-null-assertion */
const team = getTeamById(Astro.params.team as TeamCode)!;
const teamSeason = getTeamSeason(
  Astro.params.team,
  // TODO File bug? param mistyped; typed as a number in IDE, but actually a string
  // @ts-expect-error : "Argument of type 'number' is not assignable to parameter of type 'string'"
  Number.parseInt(Astro.params.season, 10),
)!;
/* eslint-enable @typescript-eslint/no-non-null-assertion */

/* eslint-disable @typescript-eslint/no-non-null-assertion */
const season = getSeasonById(teamSeason.season)!;

const fmtSeason = Utils.abbreviateSeasonRange(season);
---

<SubpageLayout
  title={`${team.id} ${fmtSeason}`}
  description={`${fmtSeason} Season Results for the ${team.name}`}
>
  <div class="flex flex-col items-center justify-center gap-8 lg:flex-row">
    <Logo teamCode={team.id} class="w-[96px]" />
    <h1 class="text-center font-title text-4xl text-lime-400">
      {fmtSeason}
      {team.name}
    </h1>
  </div>
  <TeamStats server:defer teamSeason={teamSeason}>
    <Loading slot="fallback" />
  </TeamStats>
</SubpageLayout>
